streamlit==1.26.0
pandas==1.4.4
matplotlib==3.7.1
scikit-learn==1.2.2
pycaret==3.0.0rc2
sktime==0.17.2
numba==0.55.1
llvmlite==0.38.1
rich==13.9.4
scipy==1.10.1
lightgbm==3.3.5
xgboost==1.6.2
joblib==1.2.0
tqdm==4.65.0
pyod==1.0.9
mlflow==2.1.1
patsy==0.5.3
statsmodels==0.13.5
category_encoders==2.6.1
imbalanced-learn==0.10.1